<h1>Send Notification  <%= @event.name %></h1>

<div class="notification-form-wrapper">
  <%= form_with(model: [@event, @notification], local: true) do |form| %>
    <% if @notification.errors.any? %>
      <div class="errors">
        <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>
        <ul>
          <% @notification.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :message, "Message" %><br>
      <%= form.text_area :message, rows: 5, placeholder: "Write your invitation message here..." %>
    </div>

    <div class="actions">
      <%= form.submit "Invite Your Friend", class: "invite-button" %>
    </div>
  <% end %>
</div>
