<%# -------------------------- Dekstop nav %>
<nav class="navbar">
  <div class="container-fluid d-flex align-items-center">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <% if user_signed_in? %>
      <ul class="navbar-nav d-none d-sm-flex flex-row flex-grow-1 justify-content-center">
          <li class="nav-item"><%= link_to "Home", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Events", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Groups", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Account", class: "nav-link" %></li>
      </ul>

      <ul class="nav-logout d-none d-sm-flex">
        <li class="nav-item "><%= link_to "log out",
          destroy_user_session_path,
          data: {turbo_method: :delete},
          class: "nav-link"%>
        </li>
      </ul>

    <% else %>
    <ul class="navbar-nav d-none d-sm-flex">
      <li class="nav-item"><%= link_to "login", new_user_session_path, class: "nav-link" %></li>
    </ul>
    <% end %>


    <%#-------------------------- Mobile Menu  %>
    <button class="navbar-toggler d-block d-sm-none"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#mobileMenu"
            aria-controls="mobileMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

    <div class="offcanvas offcanvas-start offcanvas-fullscreen" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
      <div class="offcanvas-body mobile-nav d-flex flex-column">
        <button type="button"
              class="btn-close close-mobile-menu"
              data-bs-dismiss="offcanvas"
              aria-label="Close">
        </button>
          <% if user_signed_in? %>
          <div class="mobile-menu d-flex flex-column">
            <ul>
              <li class="nav-item"><%= link_to "HOME", class: "mobile-nav-link" %></li>
              <li class="nav-item"><%= link_to "ACCOUNT", class: "mobile-nav-link" %></li>
              <li class="nav-item"><%= link_to "EVENTS", class: "mobile-nav-link" %></li>
              <li class="nav-item"><%= link_to "GROUPS", class: "mobile-nav-link" %></li>
            </ul>
          </div>

          <%# -------------- Mobile nav buttons %>
          <div class="mobile-links d-flex flex-column">
            <button>NEW EVENT</button>
          </div>
        <% else %>
          <div class="mobile-menu d-flex flex-column">
            <ul>
              <li class="nav-item"><%= link_to "HOME", class: "mobile-nav-link" %></li>
              <li class="nav-item"><%= link_to "LOGIN", new_user_session_path %></li>
            </ul>
          </div>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
