<nav class="navbar">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>
    <ul class="navbar-nav d-none d-sm-flex flex-row">
    <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "home", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "events", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "groups", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "account", class: "nav-link" %></li>
        <li class="nav-item nav-logout"><%= link_to "log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link"%></li>

      <% else %>
        <li class="nav-item"><%= link_to "login", new_user_session_path, class: "nav-link" %></li>
      <% end %>
    </ul>


    <%#-------------------------- Mobile Menu  %>
    <button class="navbar-toggler d-block d-sm-none"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#mobileMenu"
            aria-controls="mobileMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-start offcanvas-fullscreen" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
      <div class="offcanvas-body mobile-nav d-flex flex-column">
        <button type="button"
              class="btn-close close-mobile-menu"
              data-bs-dismiss="offcanvas"
              aria-label="Close">
        </button>
          <% if user_signed_in? %>
          <div class="mobile-menu d-flex flex-column">
            <ul>
              <li class="nav-item"><%= link_to "HOME", class: "mobile-nav-link" %></li>
              <li class="nav-item"><%= link_to "ACCOUNT", class: "mobile-nav-link" %></li>
              <li class="nav-item"><%= link_to "EVENTS", class: "mobile-nav-link" %></li>
              <li class="nav-item"><%= link_to "GROUPS", class: "mobile-nav-link" %></li>
            </ul>
          </div>
          <div class="mobile-links d-flex flex-column">
            <button>new event</button>
            <button>new chat</button>
          </div>
        <% else %>
          <div class="mobile-menu d-flex flex-column">
            <ul>
              <li class="nav-item"><%= link_to "HOME", class: "mobile-nav-link" %></li>
              <li class="nav-item"><%= link_to "LOGIN", new_user_session_path %></li>
            </ul>
          </div>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
