<div class="show_event_card_1_container">
  <div class="show_event_card_1_header">
    <h2>Your new event!</h2>
  </div>
  <div class="show_event_card_1_body">
    <p class="show_event_card_1_date"><strong>Start time:</strong> <%= start_time.strftime("%B %d, %Y") %></p>
    <p class="show_event_card_1_date"><strong>End time:</strong> <%= end_time.strftime("%B %d, %Y") %></p>
    <p class="show_event_card_1_location"><strong>Location:</strong> <%= location %></p>
    <p class="show_event_card_1_category"><strong>Category:</strong> <%= category %></p>
    <% if event.adventure.present? %>
        <p><strong>Adventure Name:</strong> <%= event.adventure.name %></p>
        <p><strong>Adventure Address:</strong> <%= event.adventure.location %></p>

    <%else %>
    <%= link_to "Choose your adventure!", event_adventures_path(event) %>

    <% end %>
    <%= link_to "Invite your friends", new_event_notification_path(event), class:"btn btn-primary" %>


  </div>
</div>
