
<header>
  <a href="#account" aria-label="Account" class="account-icon">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M5.121 17.804A13.937 13.937 0 0112 15c2.136 0 4.145.5 5.879 1.388" />
      <circle cx="15" cy="10" r="3" />
    </svg>
  </a>

  <h1 class="nav-title">HapsHub</h1>

  <div class="dropdown">
    <button aria-haspopup="true" aria-expanded="false" aria-label="Menu" class="dropdown-button">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="4" y1="6" x2="20" y2="6" />
        <line x1="4" y1="12" x2="20" y2="12" />
        <line x1="4" y1="18" x2="20" y2="18" />
      </svg>
    </button>

    <nav class="dropdown-menu" aria-label="submenu">
      <a href="#settings">Settings</a>
      <a href="#help">Help</a>
      <a href="#logout">Logout</a>
    </nav>
  </div>
</header>

<main class="container">
  <h1>New Event</h1>

  <% if @event.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were some problems with your submission:</h4>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for [@group, @event] do |f| %>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Choose date</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Choose location</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Choose category</button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <%= render 'event_new_stage_1', f: f %>
      </div>
      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <%= render 'event_new_stage_2', f: f %>
      </div>
      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <%= render 'event_new_stage_3', f: f %>
      </div>
    </div>
  <% end %>
</main>
