<div class="adventures-back-link-text-padding">
  <%= link_to 'Back', event_adventures_path(event), class:"back-link" %>
</div>

<div class='card-wrapper'>
  <div class="adventure-card">
    <h2><%= name %></h2>

    <div class="adventure-image">
      <img src="<%= "https://places.googleapis.com/v1/#{adventure.photo_resource}/media?maxHeightPx=400&maxWidthPx=400&key=#{ENV["GOOGLE_API_KEY"]}" %>">
    </div>

    <div class="adventure-text">
      <p><%= description %></p>
      <p><strong>Location: </strong> <%= location %></p>
      <p><%= link_to 'Choose Adventure', event_adventure_path(event, adventure), data: {turbo_method: :patch}, class:"btn btn-primary rounded-5" %></p>
    </div>
  </div>
</div>
